.top
  display flex
  flex-direction row
  justify-content space-between
  width 100%
  max-width $contentWidth
  height $headerMainHeight
  align-items center
.entrance
  font-size $smallFont
  width $headerButtonWidth
  height $headerButtonHeight
  line-height $headerButtonHeight
  border 1px solid $labmaiRed
  border-radius 4px
  text-align center
  box-sizing border-box
  cursor pointer
.image
  width 500px
  height 58px