/**
* 通用设置
*/
// 页面主体部分宽度
$contentWidth = 1200px
$normalIconFont = 20px
$biggggerFont = 22px
$bigggerFont = 20px
$biggerFont = 18px
$bigFont = 16px
$normalFont = 14px
$smallFont = 12px

/**
* 头部设置
*/
// 顶部主体部分高度
$headerMainHeight = 120px
$headerTopHeight = 32px
// 搜索框和购物车按钮高度
$searchBarAndCartHeight = 36px

/**
* 主体部分设置
*/
$mainHeight = 480px
$mainNavigatorBarItemWidth = 200px
$inputAndButtonBorderRadius = 4px
// 商品选择区域与文件下载区域上下未填充部分高度
$extraHeight = 2px
// 商品推荐区域 padding
$sectionSpace = 20px
$listItemWidth = 240px
$listItemHeight = 344px
// 底栏
$footerItemHeight = 215px
$footerBottomHeight = 42px
// 用户中心位置
$customerServiceBottom = 60px
$customerServiceRight = 30px


/**
* 常用颜色
*/
$labmaiRed = #e27471
$lightlabmaiRed = #f3edef
$lighterGray = #f0f0f0
$lightGray = #e0e0e0
$gray1 = #dfdfdf
$gray2 = #fafafa
$weightGray = #979797
$linearGradientWhite = linear-gradient(135deg, rgba(250,250,250,0.3), rgba(250,250,250,0))
$cartItemColor2 = #e68582
$cartItemLightColor2 = #fee7e6
$cartItemColor1 = #e9a272
$cartItemLightColor1 = #f7ebe4
$lighterBlack = #666